

.recipe_text {
  display: flex;
  justify-content: space-between;
}

.notebook_img {
  width: 1000px;
  height: 800px;
}

.recipe_1 .recipe_text {
  position: absolute;
  z-index: 999;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 40%; /* Adjust this value to move the positioned div up and down */
  text-align: center;
  width: 60%; /* Set the width of the positioned div */
}

.recipe_1 {
  position: relative;
  display: inline-block; /* Make the width of box same as image */
  text-align: center;
  width: 100%;
  color: black;
}

.column1, .column2, .column3 {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin: 20px;
}
